<a class="btn btn-light" href="#!collegeBasketballNewPost">Create Blog Post</a>
<br />
<a class="btn btn-light" href="#!main">All Sports</a>
<br />
<br />
<div ng-init="getCollegeBasketball()">
    <table class="table table-striped table-bordered" >
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="x in collegeBasketball">
            <td>{{ x.post_id }}</td>
            <td><a ng-href="#!collegeBasketball/{{x.post_id}}">{{ x.title }}</a></td>
        </tr>
        </tbody>


    </table>
</div>