<h1>Register</h1>

<form action="http://localhost:4444/register" method="post">
    <label>Username:</label>
    <input ng-model="username" type="text" name="username" id="username" placeholder="Enter username" required="required">
    <br />
    <label>Password:</label>
    <input ng-model="password" type="password" name="password" id="password" placeholder="Enter password" required="required">
    <br />
    <div ng-if="errorMessage" class="font-weight-bold">{{ errorMessage }}</div>
    <!--<input type="submit" name="submitButton" placeholder="Click to submit"/>-->
    <a href="#" ng-click="submit($event)" class="btn btn-light">Register</a><br />


</form>